<h1 id="table-of-contents">
    Table of Contents
</h1>

<div class="toc-closed-nav">
    <div class="search-container">
        <div class="search-wrapper">
            <input type="text" id="ticker-search" placeholder="Search for tickers (e.g. AAPL, TSLA)..." onkeyup="filterTickers()">
            <span class="clear-search" id="clear-ticker-search" onclick="clearTickerSearch()">×</span>
        </div>
    </div>

    {% for year, yr_data in sections.items() %}
        <div class="toc-year">
            <strong>{{ year }}</strong> 
            <small>(<span class="{{ 'neg-val' if yr_data.total_gl < 0 else 'pos-val' }}">{{ yr_data.total_gl | commas(2, sign=True) }} SGD</span>)</small>
        </div>
        {% for month, data in yr_data.months.items() %}
            <div class="toc-month" onclick="this.classList.toggle('active')">
                {{ month }} ({{ data.underlyings|length }} tickers)
                <small>(<span class="{{ 'neg-val' if data.total_gl < 0 else 'pos-val' }}">{{ data.total_gl | commas(2, sign=True) }} SGD</span>)</small>
            </div>
            <div class="toc-month-content">
                <ul style="list-style: none; padding-left: 0; margin-bottom: 0;">
                {% for u_name, u in data.underlyings.items() %}
                    <li style="margin-bottom: 5px;">
                        <a href="#{{ u_name | slugify }}">
                            <span>{{ u.symbols | map(attribute='symbol') | join(', ') }}</span>
                            (<span class="{{ 'neg-val' if u.roi < 0 else '' }}">{{ u.gl | commas(2, sign=True) }} SGD, {{ u.roi | roi }}</span>)
                        </a>
                        {% if u.symbols | length > 1 %}
                        <ul class="toc-sublist">
                            {% for p in u.symbols %}
                            <li>
                                <a href="#{{ (u_name ~ '-' ~ p.symbol) | slugify }}" class="toc-sublist-link">{{ p.symbol }}</a>
                                <span class="toc-sublist-val {{ 'neg-val' if p.sgd_metrics.profit_sgd < 0 else 'pos-val' }}">
                                    {{ p.sgd_metrics.profit_sgd | commas(2, sign=True) }} SGD | {{ p.metrics.roi_pct | round(2, sign=True) }}%
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endfor %}
</div>
